*.pyc
*.pyo
*.pyd
*.so
*.o
*.lo
*.la
*.a
*~
\#*
__*
*.swp
*.sdf
*.suo
*.obj
.gdb_history

dist
/build
/dist
/doc/build
/doc/cdoc/build
.\#*
*.log
*.egg-info
/numpy/core/__svn_version__.py
/doc/numpy.scipy.org/_build

/tools/win32build/misc/msvcrt90/msvcr90.def
/doc/source/reference/generated

libndarray/.libs
libndarray/Makefile
libndarray/autom4te.cache
libndarray/config.h
libndarray/config.log
libndarray/config.status
libndarray/libtool
libndarray/src/.deps
libndarray/src/.dirstamp
libndarray/tools/.deps
libndarray/tools/.dirstamp
libndarray/src/npy_arraytypes.c
libndarray/src/npy_config.h
libndarray/src/npy_ieee754.c
libndarray/src/npy_math.c
libndarray/src/npy_math_complex.c
libndarray/src/npy_funcs.c
libndarray/src/npy_funcs.h
libndarray/src/npy_loops.c
libndarray/src/npy_loops.h
libndarray/stamp-h1

libndarray/windows/Debug
libndarray/windows/Release
libndarray/windows/x64

numpy/version.py
numpy/NumpyDotNet/bin
numpy/NumpyDotNet/obj
numpy/NumpyDotNet/Debug
numpy/NumpyDotNet/NpyAccessLib/Debug
