*.pyc
*.so
*.o
*.lo
*.la
*.m4
*~
\#*
__*

build
/dist
/numpy.egg-inf
/numpy/version.py

/tools/win32build/misc/msvcrt90/msvcr90.def
/doc/source/reference/generated
numpy/random/mtrand/mtrand.c
experiment/interface.c

libndarray/.libs
libndarray/Makefile
libndarray/Makefile.in
libndarray/autom4te.cache
libndarray/config.*
libndarray/configure
libndarray/depcomp
libndarray/install-sh
libndarray/libtool
libndarray/ltmain.sh
libndarray/missing
libndarray/src/.deps
libndarray/src/.dirstamp
libndarray/tools/.deps
libndarray/tools/.dirstamp
libndarray/src/npy_arraytypes.c
libndarray/src/npy_config.h
libndarray/src/npy_ieee754.c
libndarray/src/npy_math.c
libndarray/src/npy_math_complex.c
libndarray/src/npy_funcs.c
libndarray/src/npy_funcs.h
libndarray/src/npy_loops.c
libndarray/src/npy_loops.h
libndarray/stamp-h1
